            /*---------------------
  Banner Section
-----------------------*/
            
            .banner-section {
                padding: 80px 50px;
            }
            
            .single-banner {
                position: relative;
                z-index: 1;
            }
            
            .single-banner:hover::before {
                -webkit-transform: scale(1);
                -ms-transform: scale(1);
                transform: scale(1);
            }
            
            .single-banner::before {
                position: absolute;
                left: 35px;
                top: 30px;
                border: 13px solid #ffffff;
                content: "";
                opacity: 0.3;
                width: calc(100% - 70px);
                height: calc(100% - 60px);
                -webkit-transform: scale(0);
                -ms-transform: scale(0);
                transform: scale(0);
                -webkit-transition: all 0.3s;
                -o-transition: all 0.3s;
                transition: all 0.3s;
            }
            
            .single-banner img {
                min-width: 100%;
            }
            
            .single-banner .inner-text {
                position: absolute;
                left: 0;
                top: 0;
                display: -webkit-box;
                display: -ms-flexbox;
                display: flex;
                -webkit-box-pack: center;
                -ms-flex-pack: center;
                justify-content: center;
                width: 100%;
                -webkit-box-align: center;
                -ms-flex-align: center;
                align-items: center;
                height: 100%;
            }
            
            .single-banner .inner-text h4 {
                color: #252525;
                font-weight: 700;
                padding: 11px 28px;
                background: #ffffff;
                border-radius: 2px;
            }
            /* ------ product ---- */
            
            .featured__controls {
                text-align: center;
                margin-bottom: 50px;
            }
            
            .featured__controls ul li {
                list-style: none;
                font-size: 18px;
                color: #1c1c1c;
                display: inline-block;
                margin-right: 25px;
                position: relative;
                cursor: pointer;
            }
            
            .featured__controls ul li.active:after {
                opacity: 1;
            }
            
            .featured__controls ul li:after {
                position: absolute;
                left: 0;
                bottom: -2px;
                width: 100%;
                height: 2px;
                background: #7fad39;
                content: "";
                opacity: 0;
            }
            
            .featured__controls ul li:last-child {
                margin-right: 0;
            }
            
            .sp-moi-ve {
                height: 470px;
                display: grid;
                grid-template-columns: 1fr 1fr 1fr 1fr;
                grid-gap: 30px;
            }
            
            .all-sp-moi-ve {
                width: 250px;
                position: relative;
                overflow: hidden;
            }
            
            .image-spmv {
                width: 100%;
                height: 330px;
                border: 2px solid #CCA772;
                overflow: hidden;
            }
            
            .image-spmv img {
                transition: all 0.5s;
            }
            
            .detail-spmv-price {
                width: 100%;
                height: 40px;
                text-align: center;
                margin-top: 10px;
                margin-bottom: 10px;
            }
            
            .detail-spmv-but {
                width: 100%;
                height: 50px;
                display: grid;
                grid-template-columns: 1fr 1fr;
                position: absolute;
                bottom: -50px;
                transition: all 0.5s;
            }
            
            .btn-xem {
                border: 2px solid #e7ab3c;
                text-align: center;
                padding: 8px;
                border-radius: 0%;
                font-size: 12px;
                margin: 4px;
            }
            
            .btn-xem:hover {
                background-color: #e7ab3c;
                color: white;
                transform: scale(1.02);
                transition: 0.3s;
            }
            
            .all-sp-moi-ve:hover img {
                transform: scale(1.06);
                transition: all 0.5s;
            }
            
            .all-sp-moi-ve:hover .detail-spmv-but {
                bottom: 0px;
                transition: all 0.5s;
            }
            
            .all-sp-moi-ve:hover {
                box-shadow: 0px 5px 20px 0px rgba(0, 0, 0, 0.2);
            }
            
            .item-product {
                text-align: center;
                width: 100%;
                transition: all 0.5s;
                width: 195px;
            }
            
            .item-img {
                width: 100%;
                height: 290px;
                margin-bottom: 10px;
                overflow: hidden;
            }
            
            .item-img img {
                width: 100%;
                height: 100%;
                transition: all 0.5s
            }
            
            .item-detail {
                position: relative;
                height: 100px;
            }
            
            .item-product:hover img {
                transform: scale(1.06);
                transition: all 0.5s;
                opacity: 0.8;
            }
            
            .item-product:hover {
                box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
                transition: all 0.5s;
            }
            
            .item-product .item-detail-icon {
                position: absolute;
                bottom: -50px;
                transition: all 0.5s;
            }
            
            .item-product:hover .item-detail-icon {
                bottom: 0px;
                transition: all 0.5s;
            }
            /*---------------------
  Deal Of The Week
-----------------------*/
            
            .deal-of-week {
                padding-top: 80px;
                padding-bottom: 80px;
                margin-left: 65px;
                margin-right: 65px;
            }
            
            .countdown-timer {
                text-align: center;
                margin-bottom: 50px;
            }
            
            .countdown-timer .cd-item {
                display: inline-block;
                background: #ffffff;
                margin-right: 35px;
                padding: 10px 14px;
                border-radius: 5px;
            }
            
            .countdown-timer .cd-item:last-child {
                margin-right: 0;
            }
            
            .countdown-timer .cd-item span {
                color: #e7ab3c;
                font-weight: 700;
                line-height: 40px;
                font-size: 36px;
            }
            
            .countdown-timer .cd-item p {
                font-size: 16px;
                color: #b2b2b2;
                margin-bottom: 0;
                text-transform: uppercase;
                letter-spacing: 1.5px;
            }