<div class="row">
    <div class="col-xl-3 col-md-6 mb-4">
        <div class="card1 border-left-primary shadow h-100 py-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                            Category</div>
                        <div class="h5 mb-0 font-weight-bold text-dark">{{count_cate}}</div>
                    </div>
                    <div class="col-auto">
                        <i _ngcontent-btq-c59="" style="font-size: 40px;" class="material-icons text-gray-300">category</i>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- category s -->
    <div class="col-xl-3 col-md-6 mb-4">
        <div class="card1 border-left-success shadow h-100 py-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="text-xs font-weight-bold text-success text-uppercase mb-1">
                            Factory</div>
                        <div class="h5 mb-0 font-weight-bold text-dark">{{count_fac}}</div>
                    </div>
                    <div class="col-auto">
                        <i _ngcontent-kbn-c59="" style="font-size: 35px;" aria-hidden="true" class="fa fa-industry  text-gray-300"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- product -->
    <div class="col-xl-3 col-md-6 mb-4">
        <div class="card1 border-left-info shadow h-100 py-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="text-xs font-weight-bold text-info text-uppercase mb-1">product
                        </div>
                        <div class="row no-gutters align-items-center">
                            <div class="col-auto">
                                <div class="h5 mb-0 mr-3 font-weight-bold text-dark">{{count_pro}}</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-auto">
                        <i class="fa fa-shopping-cart text-gray-300" style="font-size: 40px;" aria-hidden="true"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- comment -->
    <div class="col-xl-3 col-md-6 mb-4">
        <div class="card1 border-left-warning shadow h-100 py-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">
                            new comment</div>
                        <div class="h5 mb-0 font-weight-bold text-dark">12 </div>
                    </div>
                    <div class="col-auto">
                        <i class="fa fa-comments text-gray-300" style="font-size: 40px;" aria-hidden="true"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- <div class="row">
    <app-dashboard-unit [demoInput]="demoInput" (demoOutput)="ConsoleLog($event)"></app-dashboard-unit>
</div> -->